<!DOCTYPE html>
<html>
<head>
    <title>AQI Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <h2>AQI Predictor</h2>
    <div>
        <a href="/">Home</a>
        <a href="/predict">Predict</a>
        <a href="/about">About</a>
    </div>
</nav>

<div class="container">
    <h1>Air Quality Index Prediction</h1>
    <p>Check air quality easily using our smart system 🌍</p>
    <a href="/predict" class="btn">Check AQI</a>
</div>

</body>
</html>
